#window {
    -fx-background-color: #eee;
}

#window {
    -fx-padding: 0;
    -fx-border-width: 2;
    -fx-border-color: #055b98;
}
#header {
    -fx-background-color: derive(-fx-accent, -15%);
    -fx-color: white;
    -fx-padding: 10;
}
#main {
    -fx-background-color: #eee;
    -fx-padding: 5 10;
}

/* BUTTONS */
.button, .toggle-button {
    -fx-background-radius: 0;
}

#header #logout {
    -fx-background-color: #26a4fd;
    -fx-text-fill: #ddd;
}
#header #logout:hover {
    -fx-background-color: #fff;
    -fx-text-fill: -fx-accent;
}

#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-close.png") no-repeat;
    -fx-padding: 6 6 4 6;
}
#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-min.png") no-repeat;
    -fx-padding: 6 6 4 6;
}
#window-fullscreen {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-fullscreen.png") no-repeat;
    -fx-padding: 6 6 4 6;
}
#window-max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-expand.png") no-repeat;
    -fx-padding: 6 6 4 6;
}
#window-resize-button {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-corner.png") no-repeat;
    -fx-padding: 6 6 4 6;
}
#window-close:hover {
    -fx-background-image: url("../images/window-close-over.png") no-repeat;
}
#window-fullscreen:hover {
    -fx-background-image: url("../images/window-fullscreen-over.png") no-repeat;
}
#window-min:hover {
    -fx-background-image: url("../images/window-min-over.png") no-repeat;
}
#window-max:hover {
    -fx-background-image: url("../images/window-expand-over.png") no-repeat;
}
#window-close:focused, #window-min:focused , #window-max:focused {
    -fx-effect: dropshadow( three-pass-box , -fx-focus-color , 5, 0.7 , 0 , 0 );
}


/* FORM */
.error {
    -fx-text-fill: #f00;
}
.success {
    -fx-text-fill: #009918;
}

/* TABLE */
.table-view {
    -fx-base: #eee;
    -fx-control-inner-background: #fff;
    -fx-background-color: #eee;
    -fx-table-header-border-color: #eee;
    -fx-table-cell-border-color: #eee;
}
.table-view .column-header {
    -fx-background-color: -fx-accent;
    -fx-border-width: 0;
}
.table-view .column-header:hover {
    -fx-background-color: derive(-fx-accent, +10%);
}
.table-view .column-header .label {
    -fx-text-fill: white;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

/* LIST VIEW */
.list-view {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}
.list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #000;
    -fx-font-weight: normal;
}
.list-view .list-cell:empty {
    visibility:hidden;
}
.list-view .list-cell:selected {
    -fx-font-weight: bold;
    -fx-text-fill: -fx-accent;
}

/* TAB */
.tab-header-area {
    -fx-padding: 5px 0px 0px 0px;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: -fx-accent
}
.tab-content-area {
    -fx-background-color: transparent;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.tab-pane *.tab-header-background  {
    -fx-background-color: transparent;
}
.tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #eee;
    -fx-padding: 5px;
    -fx-margin: 5px;
}
.tab .tab-label {
     -fx-text-fill: -fx-accent;
}
.tab:selected {
    -fx-background-color: #fff;
}

/* CHARTS */
.chart {
    -fx-background-color: transparent;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-legend {
   -fx-background-color: #fff;
   -fx-padding: 10px;
   -fx-border-width: 0.5px;
   -fx-border-color: -fx-accent;
}
.data0.chart-bar {-fx-background-color: #f9d900;}
.data1.chart-bar {-fx-background-color: #ff5700;}
.data2.chart-bar {-fx-background-color: #a9e200;}
.data3.chart-bar {-fx-background-color: #0181e2;}
.data4.chart-bar {-fx-background-color: #860061;}
.data5.chart-bar {-fx-background-color: #c62b00;}

/* SPLIT PANE */
.split-pane {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
.split-pane .split-pane-divider {
    -fx-border-width: 0;
    -fx-background-color: #ccc;
}

/* TITLED PANE */
.accordion .titled-pane .title, .accordion .titled-pane .content {
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.accordion .titled-pane:collapsed > .title {
     -fx-background-color: white;
}